@import '../style.scss';

.container{
  @include caption;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.caption{
  color: $text-black-lighten;
  padding: 8px 0;
}

.number{
  padding: 3px;
  margin-right: 12px;
  font-size: 16px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: $black;
  color: white;
  text-align: center;
}