@import "../style";

.rc-tooltip{
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
  line-height: 1.5;
  font-size: 12px;
  padding: 1px;
  opacity: 0.9;
}

.rc-tooltip-arrow{
  width: 8px;
  height: 8px;
  top: -3px;
  margin-left: -4px;
  position: absolute;
  transform: rotate(45deg);
  background-color: $black;
}

.white .rc-tooltip-arrow{
  border-bottom-color: $grey;
}

.rc-tooltip-inner{
  @include label;
  color: $text-white;
  line-height: 1;
  background-color: $black;
  padding: 6px 8px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  min-height: 16px;
  min-width: 48px;
}


.white .rc-tooltip-inner{
  color: $text-black;
  background-color: $grey;
}


.rc-tooltip-placement-bottom .rc-tooltip-arrow{
  left: 50%;
  top: -3px;
  margin-left: -4px;
}

.rc-tooltip-placement-right .rc-tooltip-arrow {
  top: 50%;
  left: 3px;
  margin-top: -4px;

}

.white .rc-tooltip-arrow{
  background-color: $grey;
}
