.button{
  position: fixed;
  display: none;
  bottom: 32px;
  right: 24px;
  width: 56px;
  height: 56px;
  background-color: black;
  border-radius: 28px;
  z-index: 100;
}

@media only screen and (max-width: 786px) {
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.icon {
  width: 32px;
  height: 32px;
}
