@import '../style.scss';

table {
  @include value;
  font-size: 16px;
  color: $text-black-lighten;
  border: 0;
  border-collapse: collapse;
  margin: 24px 0 40px;
  padding: 0;
  width: 100%;
  overflow-x: scroll;

}

table tr {
  background-color: white;
  border-bottom: .5px solid $text-black-lighten;
  padding: 16px;
}

table th,
table td {
  padding: 12px;
  text-align: center;
}

th:first-child,
td:first-child{
  text-align: left;
}

table th {
  @include label;
  font-size: 14px;
  color: $text-black;
}